@require "s.styl"

body
	margin: 0
	padding: 0

html, body, .mainBox
	height 100%

.mainBox
	background-color aliceblue

.levelBox, .completeBox
	position absolute
	top 0
	width 100%

.word
	position absolute
	width: 100%
	background-color burlywood
	font-family monospace
	text-align center
	font-size 20px
	transition top 0.2s ease-out

.word-selected
	background-color #DEA475
	z-index 1
	transition none

.completeBox
	display none
	color blueviolet
	font-size 30px
	font-family monospace
	text-align center
	padding-top 50px