@require "s.styl"

body
  margin: 0
  padding: 0

html, body, #seqBox
  height 100%

#seqBox
  background-color aliceblue

.word
  position absolute
  width: 100%
  background-color burlywood
  text-align center
  transition top 0.2s ease-out

.word-selected
  background-color #DEA475
  z-index 1
  transition none
